<h1>Portfolioverwaltung</h1>
<li class="nav-item"><a routerlink="add" routerlinkactive="active" class="nav-link" ng-reflect-router-link="add"
                        ng-reflect-router-link-active="active" href="/add">Portfolio anlegen</a></li>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Porfolio List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Porfolionummer</th>
                <th>Portfolioname</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let portfolio of portfolios | async">
                <td>{{portfolio.id}}</td>
                <td>{{portfolio.portfolioName}}</td>
                <td>
                    <button (click)="portfolioDetails(portfolio.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
