<h1>Portfolioverwaltung von {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>All registered users:</h3>
<ul>
    <tr *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </tr>
</ul>

<a routerLink="create-portfolio" class="btn btn-sm btn-success mb-2">Add Portfolio</a>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Porfolio List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Porfolionummer</th>
                <th>Portfolioname</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let portfolio of portfolios | async">
                <td>{{portfolio.id}}</td>
                <td>{{portfolio.portfolioName}}</td>
                <td>
                    <button (click)="portfolioDetails(portfolio.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 45%">Portfolionummer</th>
        <th style="width: 45%">Portfolioname</th>
        <th style="width: 10%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let portfolio of portfolios, let i = index;">
        <td>{{i+1}} </td>
        <td>{{portfolio.portfolioName}}</td>
        <td style="white-space: nowrap">

        </td>
    </tr>

    </tbody>
</table>-->
