<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <div class="row">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink= "/register"> Registrieren </a>
                </li>
                <li class="nav-item2 active">
                    <a class="nav-link" routerLink= "/login"> Einloggen </a>
                </li>
                <li class="nav-item3 active">
                    <a class="nav-link" routerLink= "/portfolios"> Portfolioübersicht </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
