<h3>Add Portfolio</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">

            <label id="name">Portfolioname</label>
            <input type="text" class="form-control" id="portfolioName" required [(ngModel)]="portfolio.portfolioName" name="portfolioName">

        </div>
        <button type="submit" class="btn btn-success">Anlegen</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Du hast ein neues Portfolio hinzugefügt.</h4>
    <!-- <button class="btn btn-success" (click)="newPortfolio()">Add</button>-->
</div>

